/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 
Brand Header */
h1.freedomheader
{
    text-align: center;
    font-weight:bolder;
    font-family: fantasy;
    font-size:xx-large;
    padding-top: 50px;
}

/* 
Brand Header */
div.freedombar
{
    background-color:orangered;
    height: 130px;
}

body.regform1body
{
    align-items: center;
}

div.regform1div
{
    text-align: center;
    width:500px;
}

form.regform1
{
    display: inline-block;
}

/* 
spacing for buttons in the regform */
button{
    margin: 5px;
}

/* 
css for the work hours page */

body.workhoursbody
{
    text-align: center;
}
form.workhoursform
{
    text-align : center;
    align-items: center;
}

div.workdaysdiv
{
    border: 5px solid #000;
    margin-left: 400px;
    margin-right: 400px;
}

div.workhoursdiv
{
    border: 5px solid #000;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

div.getimgdiv
{
    border: 5px solid #000;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}
/* 
styling for the menu items */
form.menuitemform
{
    /* border: 5px solid #000; */
    
    text-align: center;
    margin-right:400px;
    margin-left:400px;
}
