<p>
    <mat-toolbar color="primary">
      <a routerLink="" class="home">FeastFreedom.com</a>
      <span class="spacer"></span>
      <p>
      <a routerLink="/register" class="word">Provider Register Now</a>
      </p>
      &nbsp;
      &nbsp;
      <p>
          <button mat-button [matMenuTriggerFor]="menu" class="word">Login</button>
     <mat-menu #menu="matMenu">
      <a routerLink="/login" class="word">Login</a>
      <br>
      <a routerLink="" (click)="logout()" class="word">Logout</a>
    </mat-menu>
      </p> 
    </mat-toolbar>
  </p>
 
<router-outlet></router-outlet>