<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Working Hours</title>
</head>

<body class="workhoursbody">
    
    <h1 class="workhoursheader">BUSINESS DETAILS</h1>
        
        <div class="workhourdiv">
            
            <form class="workhoursform">
                
                <div class="workdaysdiv">

                    <div class="checkboxes">
                        <h2>Work Days</h2> 

                        <input type="checkbox" id="monday" name="monday" checked>
                        <label for="monday">Monday</label>         
            
                        <input type="checkbox" id="tuesday" name="tuesday">
                        <label for="tuesday">Tuesday</label>         
                    
                        <input type="checkbox" id="wednesday" name="wednesday">
                        <label for="wednesday">Wednesday</label>   
                    
                        <input type="checkbox" id="thursday" name="thursday">
                        <label for="thursday">Thursday</label>         
                    
                        <input type="checkbox" id="friday" name="friday">
                        <label for="friday">Friday</label>     
                    
                        <input type="checkbox" id="saturday" name="saturday">
                        <label for="saturday">Saturday</label>     
        
                        <input type="checkbox" id="sunday" name="sunday">
                        <label for="sunday">Sunday</label>     
                    </div>   
                </div>
                
                <div class="workhoursdiv">
                    <h2>Work Hours</h2>
                    <div>
                        <label for="starttime">Opening Time: </label>
                        <input name="starttime" type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                    </div>
                    <div>
                        <label for="endtime">Closing Time: </label>
                        <input name="endtime" type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                    </div>
                </div>

                <div class="getimgdiv">
                    <h2>Image</h2>
                    <label for="restimg">Upload Image: </label>
                    <br />
                    <input type="file" id="img" required="required" name="restimg" accept="image/*">
                    <br />
                </div>
            
                <button routerLink="/menuitems" type="button" class="btn btn-info">Next-></button>
            
            </form>   
        
        </div>  
</body>

</html>
