<h1>New User</h1>
<div class="regform1body">
<form #empForm="ngForm" novalidate class="regform1">
<div>
    <label>First Name</label>
    <input ngModel name="firstName"  #firstName="ngModel" (change)="gettingrestname(firstName)" type="text" required minlength="2" class="form-control" >
    <div class="alert alert-danger" *ngIf=" firstName.touched && !firstName.valid ">Registration requires user to enter a First Name !</div>
</div>
<div class="form-group">
    <label>Last Name</label>
    <input ngModel name="lastName" #lastName="ngModel" (change)="gettinglastName(lastName)"type="text" required minlength="4" class="form-control" >
    <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid ">Registration requires user to enter a Last Name !</div>
</div>
<div class="form-group">
    <label>Email</label>
    <input ngModel name="Email" #Email="ngModel" (change)="gettingemail(Email)" type="text" required minlength="2" class="form-control"  >
    <div class="alert alert-danger" *ngIf="Email.touched && !Email.valid">Registration requires user to enter an @email !</div>
</div>
<div class="form-group">
    <label for="userpass">Password:</label>
    <input ngModel name="userpass" #userpass="ngModel" (change)="gettinguserpass(userpass)" class="form-control" type="password" required minlength="10"/>
    <div class="alert alert-danger" *ngIf="userpass.touched && !userpass.valid"> Registration requires user to enter a strong password !</div>
</div>
<button type="button" class="btn btn-info">Submit Form</button>
</form>
</div>