<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Registration</title>
</head>

<body class="regform1body">
    <div class="regform1div">
        <form class="regform1">
            
            <div class="form-group">
                <label for="restname">Registered Business Name:</label>
                <input ngModel name="restname" #restname="ngModel" (change)="gettingrestname(restname)" class="form-control" type="text" required="required"/>
                <div class="alert alert-danger" *ngIf="restname.touched && !restname.valid">Registration requires an official business name !</div>
            </div>

            <div class="form-group">
                <label for="restaddy">Address:</label>
                <input ngModel name="restaddy" #restaddy="ngModel" (change)="gettingaddy(restaddy)" class="form-control" type="text" required="required"/>
                <div class="alert alert-danger" *ngIf="restaddy.touched && !restaddy.valid">Registration requires a valid address !</div>
            </div>

            <div class="form-group">
                <label for="restownername">Name:</label>
                <input ngModel name="restownername" #restownername="ngModel" (change)="gettingrestowvername(restownername)" class="form-control" type="text" required="required"/>
                <div class="alert alert-danger" *ngIf="restownername.touched && !restownername.valid">Registration requires a valid name !</div>
            </div>

            <div class="form-group">
                <label for="restemail">Email:</label>
                <input ngModel name="restemail" #restemail="ngModel" (change)="gettingrestemail(restemail)" class="form-control" type="email" required="required"/>
                <div class="alert alert-danger" *ngIf="restemail.touched && !restemail.valid">Registration requires a valid email !</div>
            </div>

            <div class="form-group">
                <label for="restnumber">Business Number:</label>
                <input ngModel name="restnumber" #restnumber="ngModel" (change)="gettingrestnumber(restnumber)" class="form-control" type="text" required="required" />
                <div class="alert alert-danger" *ngIf="restnumber.touched && !restnumber.valid">Registration requires a number to reach the business !</div>
            </div>

            <div class="form-group">
                <label for="restcuisine">Cuisine</label>
                <select name="restcuisine">
                    <option value="Indian">Indian</option>
                    <option value="Portugese">Portugese</option>
                    <option value="American">American Fast Food</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Soul">Soul</option>
                    <option value="Gourmet" selected>Gourmet</option>
                    <option value="Multicontinental">Multi-continental</option>
                </select>
            </div>

            <div class="form-group">
                <label for="restpass">Password:</label>
                <input ngModel name="restpass" #restpass="ngModel" (change)="gettingrestpass(restpass)" class="form-control" type="password" required="required" minlength="10"/>
                <div class="alert alert-danger" *ngIf="restpass.touched && !restpass.valid">Registration requires a strong password !</div>
                <small>
                    <ul>
                        <li>Password should be 10 or more characters long</li>
                        <li>Password should hold a special character</li>
                        <li>Password should hold a number</li>
                        <li>Password should hold an UpperCase letter</li> 
                    </ul>
                </small>
            </div>

            <div class="form-group">
                <button routerLink="/workhour" type="button" class="btn btn-info">Next</button>
                <button routerLink="" type="button" class="btn btn-info">Cancel</button>
            </div>

        </form>
    </div>
</body>

</html>
