<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body class="menuitembody">
    <h1>So Whats on the Menu ?</h1>

    <form class="menuitemform">
        
        <div class="menuitem1">
            <div>
                <label for="itemname">Dish Name:</label>
                <input class="form-control" size="20" name="itemname" type="text" required="required">
            </div>

            <div>
                <input class="form-control" type="checkbox" name="veg" checked>
                <label for="veg">Vegetarian</label>  
            
                <input class="form-control" type="checkbox" name="nonveg">
                <label for="nonveg">Non-Vegetarian</label>  
            </div>

            <div>
                <label for="itemprice">Price:$ </label>
                <input class="form-control" size="20" name="itemprice" type="text" required="required">
            </div>
        </div>

        <div class="menuitem2">
            <div>
                <label for="itemname">Dish Name:</label>
                <input class="form-control" name="itemname" type="text" required="required">
            </div>

            <div>
                <input class="form-control" type="checkbox" name="veg" checked>
                <label for="veg">Vegetarian</label>  
            
                <input class="form-control" type="checkbox" name="nonveg">
                <label for="nonveg">Non-Vegetarian</label>  
            </div>

            <div>
                <label for="itemprice">Price:$ </label>
                <input class="form-control" minlength="10" name="itemprice" type="text" required="required">
            </div>
        </div>

        <div class="menuitem3">
            <div>
                <label for="itemname">Dish Name:</label>
                <input class="form-control" name="itemname" type="text" required="required">
            </div>

            <div>
                <input class="form-control" type="checkbox" name="veg" checked>
                <label for="veg">Vegetarian</label>  
            
                <input class="form-control" type="checkbox" name="nonveg">
                <label for="nonveg">Non-Vegetarian</label>  
            </div>

            <div>
                <label for="itemprice">Price:$ </label>
                <input class="form-control" minlength="10" name="itemprice" type="text" required="required">
            </div>
        </div>

        <button type="button" class="btn btn-info"> Save </button>
       
       <button routerLink="" type="button" class="btn btn-info">Cancel</button>
    </form>
</body>

</html>
